In [1]:
import pandas as pd
import numpy as np
import re

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

In this lab, you'll be working with the Coffee Quality Index dataset, located [here](https://www.kaggle.com/datasets/volpatto/coffee-quality-database-from-cqi). For convenience (and to save trouble in case you can't download files, or someone uploads a newer version), I've provided the dataset in the `data/` folder. The metadata (description) is at the Kaggle link. For this lab, you'll only need `merged_data_cleaned.csv`, as it is the concatenation of the other two datasets.

In this (and the following labs), you'll get several questions and problems. Do your analysis, describe it, use any tools and plots you wish, and answer. You can create any amount of cells you'd like.

Sometimes, the answers will not be unique, and they will depend on how you decide to approach and solve the problem. This is usual - we're doing science after all!

It's a good idea to save your clean dataset after all the work you've done to it.

### Problem 1. Read the dataset (1 point)
This should be self-explanatory. The first column is the index.

In [3]:
# Read the coffee dataset
# The first column is the index as mentioned in the problem
df = pd.read_csv('data/merged_data_cleaned.csv', index_col=0)

# Display basic information about the dataset
print("Dataset successfully loaded!")
print(f"Shape: {df.shape}")
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

# Display column names
print("\nColumn names:")
print(df.columns.tolist())

# Display first few rows
print("\nFirst 5 rows:")
print(df.head())

# Display basic info about the dataset
print("\nDataset info:")
print(df.info())

# Display basic statistics
print("\nBasic statistics for numerical columns:")
print(df.describe())

Dataset successfully loaded!
Shape: (1339, 43)
Number of rows: 1339
Number of columns: 43

Column names:
['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region', 'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety', 'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers', 'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body', 'Certification.Address', 'Certification.Contact', 'unit_of_measurement', 'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters']

First 5 rows:
   Species                     Owner Country.of.Origin  \
0  Arabica                 metad plc          Ethiopia
1  Arabica                 metad plc          Ethiopia
2  Arabica  grounds for health admin         Guatemala
3  Arabica       yidnekachew dabessa          Ethiopia
4  Arabica                 metad plc          Ethiopia

                                  Farm.Name Lot.Number       Mill ICO.Number  \
0                                 metad plc        NaN  metad plc  2014/2015
1                                 metad plc        NaN  metad plc  2014/2015
2  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN
3     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN
4                                 metad plc        NaN  metad plc  2014/2015

                                 Company       Altitude        Region  ...  \
0      metad agricultural developmet plc      1950-2200  guji-hambela  ...
1      metad agricultural developmet plc      1950-2200  guji-hambela  ...
2                                    NaN  1600 - 1800 m           NaN  ...
3  yidnekachew debessa coffee plantation      1800-2200        oromia  ...
4      metad agricultural developmet plc      1950-2200  guji-hambela  ...

   Color  Category.Two.Defects        Expiration  \
0  Green                     0   April 3rd, 2016
1  Green                     1   April 3rd, 2016
2    NaN                     0    May 31st, 2011
3  Green                     2  March 25th, 2016
4  Green                     2   April 3rd, 2016

                   Certification.Body  \
0  METAD Agricultural Development plc
1  METAD Agricultural Development plc
2        Specialty Coffee Association
3  METAD Agricultural Development plc
4  METAD Agricultural Development plc

                      Certification.Address  \
0  309fcf77415a3661ae83e027f7e5f05dad786e44
1  309fcf77415a3661ae83e027f7e5f05dad786e44
2  36d0d00a3724338ba7937c52a378d085f2172daa
3  309fcf77415a3661ae83e027f7e5f05dad786e44
4  309fcf77415a3661ae83e027f7e5f05dad786e44

                      Certification.Contact unit_of_measurement  \
0  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
1  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
2  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m
3  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
4  19fef5a731de2db57d16da10287413f5f99bc2dd                   m

  altitude_low_meters altitude_high_meters  altitude_mean_meters
0              1950.0               2200.0                2075.0
1              1950.0               2200.0                2075.0
2              1600.0               1800.0                1700.0
3              1800.0               2200.0                2000.0
4              1950.0               2200.0                2075.0

[5 rows x 43 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 1339 entries, 0 to 1338
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Species                1339 non-null   object
 1   Owner                  1332 non-null   object
 2   Country.of.Origin      1338 non-null   object
 3   Farm.Name              980 non-null    object
 4   Lot.Number             276 non-null    object
 5   Mill                   1021 non-null   object
 6   ICO.Number             1180 non-null   object
 7   Company                1130 non-null   object
 8   Altitude               1113 non-null   object
 9   Region                 1280 non-null   object
 10  Producer               1107 non-null   object
 11  Number.of.Bags         1339 non-null   int64
 12  Bag.Weight             1339 non-null   object
 13  In.Country.Partner     1339 non-null   object
 14  Harvest.Year           1292 non-null   object
 15  Grading.Date           1339 non-null   object
 16  Owner.1                1332 non-null   object
 17  Variety                1113 non-null   object
 18  Processing.Method      1169 non-null   object
 19  Aroma                  1339 non-null   float64
 20  Flavor                 1339 non-null   float64
 21  Aftertaste             1339 non-null   float64
 22  Acidity                1339 non-null   float64
 23  Body                   1339 non-null   float64
 24  Balance                1339 non-null   float64
 25  Uniformity             1339 non-null   float64
 26  Clean.Cup              1339 non-null   float64
 27  Sweetness              1339 non-null   float64
 28  Cupper.Points          1339 non-null   float64
 29  Total.Cup.Points       1339 non-null   float64
 30  Moisture               1339 non-null   float64
 31  Category.One.Defects   1339 non-null   int64
 32  Quakers                1338 non-null   float64
 33  Color                  1069 non-null   object
 34  Category.Two.Defects   1339 non-null   int64
 35  Expiration             1339 non-null   object
 36  Certification.Body     1339 non-null   object
 37  Certification.Address  1339 non-null   object
 38  Certification.Contact  1339 non-null   object
 39  unit_of_measurement    1339 non-null   object
 40  altitude_low_meters    1109 non-null   float64
 41  altitude_high_meters   1109 non-null   float64
 42  altitude_mean_meters   1109 non-null   float64
dtypes: float64(16), int64(3), object(24)
memory usage: 460.3+ KB
None

Basic statistics for numerical columns:
       Number.of.Bags        Aroma       Flavor   Aftertaste      Acidity  \
count     1339.000000  1339.000000  1339.000000  1339.000000  1339.000000
mean       154.182972     7.566706     7.520426     7.401083     7.535706
std        129.987162     0.377560     0.398442     0.404463     0.379827
min          0.000000     0.000000     0.000000     0.000000     0.000000
25%         14.000000     7.420000     7.330000     7.250000     7.330000
50%        175.000000     7.580000     7.580000     7.420000     7.580000
75%        275.000000     7.750000     7.750000     7.580000     7.750000
max       1062.000000     8.750000     8.830000     8.670000     8.750000

              Body      Balance   Uniformity    Clean.Cup    Sweetness  \
count  1339.000000  1339.000000  1339.000000  1339.000000  1339.000000
mean      7.517498     7.518013     9.834877     9.835108     9.856692
std       0.370064     0.408943     0.554591     0.763946     0.616102
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       7.330000     7.330000    10.000000    10.000000    10.000000
50%       7.500000     7.500000    10.000000    10.000000    10.000000
75%       7.670000     7.750000    10.000000    10.000000    10.000000
max       8.580000     8.750000    10.000000    10.000000    10.000000

       Cupper.Points  Total.Cup.Points     Moisture  Category.One.Defects  \
count    1339.000000       1339.000000  1339.000000           1339.000000
mean        7.503376         82.089851     0.088379              0.479462
std         0.473464          3.500575     0.048287              2.549683
min         0.000000          0.000000     0.000000              0.000000
25%         7.250000         81.080000     0.090000              0.000000
50%         7.500000         82.500000     0.110000              0.000000
75%         7.750000         83.670000     0.120000              0.000000
max        10.000000         90.580000     0.280000             63.000000

           Quakers  Category.Two.Defects  altitude_low_meters  \
count  1338.000000           1339.000000          1109.000000
mean      0.173393              3.556385          1750.713315
std       0.832121              5.312541          8669.440545
min       0.000000              0.000000             1.000000
25%       0.000000              0.000000          1100.000000
50%       0.000000              2.000000          1310.640000
75%       0.000000              4.000000          1600.000000
max      11.000000             55.000000        190164.000000

       altitude_high_meters  altitude_mean_meters
count           1109.000000           1109.000000
mean            1799.347775           1775.030545
std             8668.805771           8668.626080
min                1.000000              1.000000
25%             1100.000000           1100.000000
50%             1350.000000           1310.640000
75%             1650.000000           1600.000000
max           190164.000000         190164.000000

### Problem 2. Observations and features (1 point)
How many observations are there? How many features? Which features are numerical, and which are categorical?

**Note:** Think about the _meaning_, not the data types. The dataset hasn't been thoroughly cleaned.

In [8]:

# Continue from Problem 1 - assuming df is already loaded
# df = pd.read_csv('merged_data_cleaned.csv', index_col=0)

print("=== OBSERVATIONS AND FEATURES ANALYSIS ===\n")

# Number of observations and features
print(f"Number of observations (rows): {df.shape[0]}")
print(f"Number of features (columns): {df.shape[1]}")

print("\n" + "="*50)

# Let's examine each column to determine if it's numerical or categorical based on MEANING
print("\nCOLUMN ANALYSIS (by meaning, not just data type):\n")

# Define categorical and numerical features based on meaning
categorical_features = []
numerical_features = []

# Examine each column
for col in df.columns:
    print(f"Column: {col}")
    print(f"  Data type: {df[col].dtype}")
    print(f"  Unique values: {df[col].nunique()}")
    print(f"  Sample values: {df[col].dropna().head(3).tolist()}")
    
    # Determine if categorical or numerical based on meaning
    if col in ['Species', 'Owner', 'Country.of.Origin', 'Farm.Name', 'Lot.Number', 
               'Mill', 'ICO.Number', 'Company', 'Region', 'Producer', 'Bag.Weight',
               'In.Country.Partner', 'Grading.Date', 'Owner.1', 'Variety', 
               'Processing.Method', 'Color', 'Expiration', 'Certification.Body',
               'Certification.Address', 'Certification.Contact', 'unit_of_measurement']:
        categorical_features.append(col)
        print(f"  → CATEGORICAL (represents categories/labels)")
    
    elif col in ['Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
                 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points', 
                 'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 
                 'Quakers', 'Category.Two.Defects', 'altitude_low_meters',
                 'altitude_high_meters', 'altitude_mean_meters', 'Number.of.Bags']:
        numerical_features.append(col)
        print(f"  → NUMERICAL (represents measurable quantities)")
    
    # Special cases that need closer inspection
    elif col in ['Altitude', 'Harvest.Year']:
        # Altitude is stored as text ranges but represents numerical values
        # Harvest.Year should be numerical but might have data quality issues
        if col == 'Altitude':
            categorical_features.append(col)  # Currently stored as text ranges
            print(f"  → CATEGORICAL (currently stored as text ranges, but conceptually numerical)")
        else:  # Harvest.Year
            numerical_features.append(col)
            print(f"  → NUMERICAL (represents year, but may have data quality issues)")
    
    print()

print("="*50)
print(f"\nSUMMARY:")
print(f"Total observations: {df.shape[0]}")
print(f"Total features: {df.shape[1]}")
print(f"Categorical features: {len(categorical_features)}")
print(f"Numerical features: {len(numerical_features)}")

print(f"\nCATEGORICAL FEATURES ({len(categorical_features)}):")
for i, feat in enumerate(categorical_features, 1):
    print(f"{i:2d}. {feat}")

print(f"\nNUMERICAL FEATURES ({len(numerical_features)}):")
for i, feat in enumerate(numerical_features, 1):
    print(f"{i:2d}. {feat}")

print(f"\n" + "="*50)
print("IMPORTANT NOTES:")
print("- Classification based on MEANING, not just data types")
print("- Some 'object' columns like Harvest.Year contain numerical data")
print("- Some numerical columns might have data quality issues")
print("- Altitude is stored as text ranges but represents numerical concept")
print("- The dataset needs cleaning for proper analysis")

# Let's also check for potential data quality issues
print(f"\n" + "="*50)
print("DATA QUALITY INSIGHTS:")

# Check Harvest.Year for non-numeric values
print(f"\nHarvest.Year unique values: {sorted(df['Harvest.Year'].dropna().unique())}")

# Check missing values
print(f"\nMissing values per column:")
missing_counts = df.isnull().sum()
missing_counts = missing_counts[missing_counts > 0].sort_values(ascending=False)
for col, count in missing_counts.items():
    print(f"  {col}: {count} ({count/len(df)*100:.1f}%)")

if len(missing_counts) == 0:
    print("  No missing values found")

=== OBSERVATIONS AND FEATURES ANALYSIS ===

Number of observations (rows): 1339
Number of features (columns): 43

==================================================

COLUMN ANALYSIS (by meaning, not just data type):

Column: Species
  Data type: object
  Unique values: 2
  Sample values: ['Arabica', 'Arabica', 'Arabica']
  → CATEGORICAL (represents categories/labels)

Column: Owner
  Data type: object
  Unique values: 315
  Sample values: ['metad plc', 'metad plc', 'grounds for health admin']
  → CATEGORICAL (represents categories/labels)

Column: Country.of.Origin
  Data type: object
  Unique values: 36
  Sample values: ['Ethiopia', 'Ethiopia', 'Guatemala']
  → CATEGORICAL (represents categories/labels)

Column: Farm.Name
  Data type: object
  Unique values: 571
  Sample values: ['metad plc', 'metad plc', 'san marcos barrancas "san cristobal cuch']
  → CATEGORICAL (represents categories/labels)

Column: Lot.Number
  Data type: object
  Unique values: 227
  Sample values: ['YNC-06114', '102', 'Tsoustructive 2015 Sumatra Typica']
  → CATEGORICAL (represents categories/labels)

Column: Mill
  Data type: object
  Unique values: 459
  Sample values: ['metad plc', 'metad plc', 'wolensu']
  → CATEGORICAL (represents categories/labels)

Column: ICO.Number
  Data type: object
  Unique values: 846
  Sample values: ['2014/2015', '2014/2015', '2014/2015']
  → CATEGORICAL (represents categories/labels)

Column: Company
  Data type: object
  Unique values: 281
  Sample values: ['metad agricultural developmet plc', 'metad agricultural developmet plc', 'yidnekachew debessa coffee plantation']
  → CATEGORICAL (represents categories/labels)

Column: Altitude
  Data type: object
  Unique values: 396
  Sample values: ['1950-2200', '1950-2200', '1600 - 1800 m']
  → CATEGORICAL (currently stored as text ranges, but conceptually numerical)

Column: Region
  Data type: object
  Unique values: 356
  Sample values: ['guji-hambela', 'guji-hambela', 'oromia']
  → CATEGORICAL (represents categories/labels)

Column: Producer
  Data type: object
  Unique values: 692
  Sample values: ['METAD PLC', 'METAD PLC', 'Yidnekachew Dabessa Coffee Plantation']
  → CATEGORICAL (represents categories/labels)

Column: Number.of.Bags
  Data type: int64
  Unique values: 131
  Sample values: [300, 300, 5]
  → NUMERICAL (represents measurable quantities)

Column: Bag.Weight
  Data type: object
  Unique values: 56
  Sample values: ['60 kg', '60 kg', '1']
  → CATEGORICAL (represents categories/labels)

Column: In.Country.Partner
  Data type: object
  Unique values: 27
  Sample values: ['METAD Agricultural Development plc', 'METAD Agricultural Development plc', 'Specialty Coffee Association']
  → CATEGORICAL (represents categories/labels)

Column: Harvest.Year
  Data type: object
  Unique values: 46
  Sample values: ['2014', '2014', '2014']
  → NUMERICAL (represents year, but may have data quality issues)

Column: Grading.Date
  Data type: object
  Unique values: 567
  Sample values: ['April 4th, 2015', 'April 4th, 2015', 'May 31st, 2010']
  → CATEGORICAL (represents categories/labels)

Column: Owner.1
  Data type: object
  Unique values: 319
  Sample values: ['metad plc', 'metad plc', 'Grounds for Health Admin']
  → CATEGORICAL (represents categories/labels)

Column: Variety
  Data type: object
  Unique values: 29
  Sample values: ['Other', 'Bourbon', 'Other']
  → CATEGORICAL (represents categories/labels)

Column: Processing.Method
  Data type: object
  Unique values: 5
  Sample values: ['Washed / Wet', 'Washed / Wet', 'Natural / Dry']
  → CATEGORICAL (represents categories/labels)

Column: Aroma
  Data type: float64
  Unique values: 33
  Sample values: [8.67, 8.75, 8.42]
  → NUMERICAL (represents measurable quantities)

Column: Flavor
  Data type: float64
  Unique values: 35
  Sample values: [8.83, 8.67, 8.5]
  → NUMERICAL (represents measurable quantities)

Column: Aftertaste
  Data type: float64
  Unique values: 35
  Sample values: [8.67, 8.5, 8.42]
  → NUMERICAL (represents measurable quantities)

Column: Acidity
  Data type: float64
  Unique values: 31
  Sample values: [8.75, 8.58, 8.42]
  → NUMERICAL (represents measurable quantities)

Column: Body
  Data type: float64
  Unique values: 33
  Sample values: [8.5, 8.42, 8.33]
  → NUMERICAL (represents measurable quantities)

Column: Balance
  Data type: float64
  Unique values: 33
  Sample values: [8.42, 8.42, 8.42]
  → NUMERICAL (represents measurable quantities)

Column: Uniformity
  Data type: float64
  Unique values: 10
  Sample values: [10.0, 10.0, 10.0]
  → NUMERICAL (represents measurable quantities)

Column: Clean.Cup
  Data type: float64
  Unique values: 11
  Sample values: [10.0, 10.0, 10.0]
  → NUMERICAL (represents measurable quantities)

Column: Sweetness
  Data type: float64
  Unique values: 17
  Sample values: [10.0, 10.0, 10.0]
  → NUMERICAL (represents measurable quantities)

Column: Cupper.Points
  Data type: float64
  Unique values: 42
  Sample values: [8.75, 8.58, 9.25]
  → NUMERICAL (represents measurable quantities)

Column: Total.Cup.Points
  Data type: float64
  Unique values: 180
  Sample values: [90.58, 89.92, 89.75]
  → NUMERICAL (represents measurable quantities)

Column: Moisture
  Data type: float64
  Unique values: 23
  Sample values: [0.12, 0.12, 0.0]
  → NUMERICAL (represents measurable quantities)

Column: Category.One.Defects
  Data type: int64
  Unique values: 18
  Sample values: [0, 0, 0]
  → NUMERICAL (represents measurable quantities)

Column: Quakers
  Data type: float64
  Unique values: 11
  Sample values: [0.0, 0.0, 0.0]
  → NUMERICAL (represents measurable quantities)

Column: Color
  Data type: object
  Unique values: 3
  Sample values: ['Green', 'Green', 'Green']
  → CATEGORICAL (represents categories/labels)

Column: Category.Two.Defects
  Data type: int64
  Unique values: 38
  Sample values: [0, 1, 0]
  → NUMERICAL (represents measurable quantities)

Column: Expiration
  Data type: object
  Unique values: 566
  Sample values: ['April 3rd, 2016', 'April 3rd, 2016', 'May 31st, 2011']
  → CATEGORICAL (represents categories/labels)

Column: Certification.Body
  Data type: object
  Unique values: 26
  Sample values: ['METAD Agricultural Development plc', 'METAD Agricultural Development plc', 'Specialty Coffee Association']
  → CATEGORICAL (represents categories/labels)

Column: Certification.Address
  Data type: object
  Unique values: 32
  Sample values: ['309fcf77415a3661ae83e027f7e5f05dad786e44', '309fcf77415a3661ae83e027f7e5f05dad786e44', '36d0d00a3724338ba7937c52a378d085f2172daa']
  → CATEGORICAL (represents categories/labels)

Column: Certification.Contact
  Data type: object
  Unique values: 29
  Sample values: ['19fef5a731de2db57d16da10287413f5f99bc2dd', '19fef5a731de2db57d16da10287413f5f99bc2dd', '0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660']
  → CATEGORICAL (represents categories/labels)

Column: unit_of_measurement
  Data type: object
  Unique values: 2
  Sample values: ['m', 'm', 'm']
  → CATEGORICAL (represents categories/labels)

Column: altitude_low_meters
  Data type: float64
  Unique values: 198
  Sample values: [1950.0, 1950.0, 1600.0]
  → NUMERICAL (represents measurable quantities)

Column: altitude_high_meters
  Data type: float64
  Unique values: 198
  Sample values: [2200.0, 2200.0, 1800.0]
  → NUMERICAL (represents measurable quantities)

Column: altitude_mean_meters
  Data type: float64
  Unique values: 211
  Sample values: [2075.0, 2075.0, 1700.0]
  → NUMERICAL (represents measurable quantities)

==================================================

SUMMARY:
Total observations: 1339
Total features: 43
Categorical features: 23
Numerical features: 20

CATEGORICAL FEATURES (23):
 1. Species
 2. Owner
 3. Country.of.Origin
 4. Farm.Name
 5. Lot.Number
 6. Mill
 7. ICO.Number
 8. Company
 9. Altitude
10. Region
11. Producer
12. Bag.Weight
13. In.Country.Partner
14. Grading.Date
15. Owner.1
16. Variety
17. Processing.Method
18. Color
19. Expiration
20. Certification.Body
21. Certification.Address
22. Certification.Contact
23. unit_of_measurement

NUMERICAL FEATURES (20):
 1. Number.of.Bags
 2. Harvest.Year
 3. Aroma
 4. Flavor
 5. Aftertaste
 6. Acidity
 7. Body
 8. Balance
 9. Uniformity
10. Clean.Cup
11. Sweetness
12. Cupper.Points
13. Total.Cup.Points
14. Moisture
15. Category.One.Defects
16. Quakers
17. Category.Two.Defects
18. altitude_low_meters
19. altitude_high_meters
20. altitude_mean_meters

==================================================
IMPORTANT NOTES:
- Classification based on MEANING, not just data types
- Some 'object' columns like Harvest.Year contain numerical data
- Some numerical columns might have data quality issues
- Altitude is stored as text ranges but represents numerical concept
- The dataset needs cleaning for proper analysis

==================================================
DATA QUALITY INSIGHTS:

Harvest.Year unique values: ['08/09 crop', '1T/2011', '1t/2011', '2009 - 2010', '2009 / 2010', '2009-2010', '2009/2010', '2010', '2010-2011', '2011', '2011/2012', '2012', '2013', '2013/2014', '2014', '2014/2015', '2015', '2015/2016', '2016', '2016 / 2017', '2016/2017', '2017', '2017 / 2018', '2018', '23 July 2010', '3T/2011', '47/2010', '4T/10', '4T/2010', '4T72010', '4t/2010', '4t/2011', 'Abril - Julio', 'Abril - Julio /2011', 'August to December', 'December 2009-March 2010', 'Fall 2009', 'January 2011', 'January Through April', 'March 2010', 'May-August', 'Mayo a Julio', 'Sept 2009 - April 2010', 'Spring 2011 in Colombia.', 'TEST', 'mmm']

Missing values per column:
  Lot.Number: 1063 (79.4%)
  Farm.Name: 359 (26.8%)
  Mill: 318 (23.7%)
  Color: 270 (20.2%)
  Producer: 232 (17.3%)
  altitude_high_meters: 230 (17.2%)
  altitude_low_meters: 230 (17.2%)
  altitude_mean_meters: 230 (17.2%)
  Variety: 226 (16.9%)
  Altitude: 226 (16.9%)
  Company: 209 (15.6%)
  Processing.Method: 170 (12.7%)
  ICO.Number: 159 (11.9%)
  Region: 59 (4.4%)
  Harvest.Year: 47 (3.5%)
  Owner.1: 7 (0.5%)
  Owner: 7 (0.5%)
  Country.of.Origin: 1 (0.1%)
  Quakers: 1 (0.1%)

### Problem 3. Column manipulation (1 point)
Make the column names more Pythonic (which helps with the quality and... aesthetics). Convert column names to `snake_case`, i.e. `species`, `country_of_origin`, `ico_number`, etc. Try to not do it manually.

In [4]:
# Continue from previous problems - assuming df is already loaded
# df = pd.read_csv('merged_data_cleaned.csv', index_col=0)

print("=== COLUMN MANIPULATION TO SNAKE_CASE ===\n")

# Display original column names
print("ORIGINAL COLUMN NAMES:")
for i, col in enumerate(df.columns, 1):
    print(f"{i:2d}. {col}")

print(f"\nTotal columns: {len(df.columns)}")

# Function to convert to snake_case
def to_snake_case(name):
    """
    Convert column name to snake_case format
    """
    # Handle special cases and clean up
    name = str(name).strip()
    
    # Replace dots with underscores
    name = name.replace('.', '_')
    
    # Replace spaces with underscores
    name = name.replace(' ', '_')
    
    # Replace hyphens with underscores
    name = name.replace('-', '_')
    
    # Insert underscore before uppercase letters (for camelCase)
    name = re.sub(r'([a-z0-9])([A-Z])', r'\1_\2', name)
    
    # Convert to lowercase
    name = name.lower()
    
    # Remove multiple consecutive underscores
    name = re.sub(r'_+', '_', name)
    
    # Remove leading/trailing underscores
    name = name.strip('_')
    
    return name

# Create mapping of old to new column names
column_mapping = {}
for col in df.columns:
    new_name = to_snake_case(col)
    column_mapping[col] = new_name

print("\n" + "="*60)
print("COLUMN NAME TRANSFORMATION:")
print("="*60)

for old_name, new_name in column_mapping.items():
    print(f"{old_name:<25} → {new_name}")

# Apply the transformation
df_renamed = df.rename(columns=column_mapping)

print(f"\n" + "="*60)
print("NEW COLUMN NAMES (snake_case):")
for i, col in enumerate(df_renamed.columns, 1):
    print(f"{i:2d}. {col}")

print(f"\nTotal columns: {len(df_renamed.columns)}")

# Verify the transformation worked
print(f"\n" + "="*60)
print("VERIFICATION:")
print(f"Original shape: {df.shape}")
print(f"New shape: {df_renamed.shape}")
print(f"Data preserved: {df.equals(df_renamed.rename(columns={v: k for k, v in column_mapping.items()}))}")

# Show sample of transformed data
print(f"\nSample of data with new column names:")
print(df_renamed.head(3))

# Update the main dataframe
df = df_renamed
print(f"\nDataFrame successfully updated with snake_case column names!")

# Display some examples of the transformation
print(f"\n" + "="*60)
print("EXAMPLES OF TRANSFORMATIONS:")
examples = [
    ('Country.of.Origin', 'country_of_origin'),
    ('ICO.Number', 'ico_number'), 
    ('Total.Cup.Points', 'total_cup_points'),
    ('Category.One.Defects', 'category_one_defects'),
    ('Processing.Method', 'processing_method')
]

for old, expected in examples:
    actual = column_mapping.get(old, 'NOT FOUND')
    status = "✓" if actual == expected else "✗"
    print(f"{status} {old:<25} → {actual}")

=== COLUMN MANIPULATION TO SNAKE_CASE ===

ORIGINAL COLUMN NAMES:
 1. Species
 2. Owner
 3. Country.of.Origin
 4. Farm.Name
 5. Lot.Number
 6. Mill
 7. ICO.Number
 8. Company
 9. Altitude
10. Region
11. Producer
12. Number.of.Bags
13. Bag.Weight
14. In.Country.Partner
15. Harvest.Year
16. Grading.Date
17. Owner.1
18. Variety
19. Processing.Method
20. Aroma
21. Flavor
22. Aftertaste
23. Acidity
24. Body
25. Balance
26. Uniformity
27. Clean.Cup
28. Sweetness
29. Cupper.Points
30. Total.Cup.Points
31. Moisture
32. Category.One.Defects
33. Quakers
34. Color
35. Category.Two.Defects
36. Expiration
37. Certification.Body
38. Certification.Address
39. Certification.Contact
40. unit_of_measurement
41. altitude_low_meters
42. altitude_high_meters
43. altitude_mean_meters

Total columns: 43

============================================================
COLUMN NAME TRANSFORMATION:
============================================================
Species                   → species
Owner                     → owner
Country.of.Origin         → country_of_origin
Farm.Name                 → farm_name
Lot.Number                → lot_number
Mill                      → mill
ICO.Number                → ico_number
Company                   → company
Altitude                  → altitude
Region                    → region
Producer                  → producer
Number.of.Bags            → number_of_bags
Bag.Weight                → bag_weight
In.Country.Partner        → in_country_partner
Harvest.Year              → harvest_year
Grading.Date              → grading_date
Owner.1                   → owner_1
Variety                   → variety
Processing.Method         → processing_method
Aroma                     → aroma
Flavor                    → flavor
Aftertaste                → aftertaste
Acidity                   → acidity
Body                      → body
Balance                   → balance
Uniformity                → uniformity
Clean.Cup                 → clean_cup
Sweetness                 → sweetness
Cupper.Points             → cupper_points
Total.Cup.Points          → total_cup_points
Moisture                  → moisture
Category.One.Defects      → category_one_defects
Quakers                   → quakers
Color                     → color
Category.Two.Defects      → category_two_defects
Expiration                → expiration
Certification.Body        → certification_body
Certification.Address     → certification_address
Certification.Contact     → certification_contact
unit_of_measurement       → unit_of_measurement
altitude_low_meters       → altitude_low_meters
altitude_high_meters      → altitude_high_meters
altitude_mean_meters      → altitude_mean_meters

============================================================
NEW COLUMN NAMES (snake_case):
 1. species
 2. owner
 3. country_of_origin
 4. farm_name
 5. lot_number
 6. mill
 7. ico_number
 8. company
 9. altitude
10. region
11. producer
12. number_of_bags
13. bag_weight
14. in_country_partner
15. harvest_year
16. grading_date
17. owner_1
18. variety
19. processing_method
20. aroma
21. flavor
22. aftertaste
23. acidity
24. body
25. balance
26. uniformity
27. clean_cup
28. sweetness
29. cupper_points
30. total_cup_points
31. moisture
32. category_one_defects
33. quakers
34. color
35. category_two_defects
36. expiration
37. certification_body
38. certification_address
39. certification_contact
40. unit_of_measurement
41. altitude_low_meters
42. altitude_high_meters
43. altitude_mean_meters

Total columns: 43

============================================================
VERIFICATION:
Original shape: (1339, 43)
New shape: (1339, 43)
Data preserved: True

Sample of data with new column names:
   species                     owner country_of_origin  \
0  Arabica                 metad plc          Ethiopia
1  Arabica                 metad plc          Ethiopia
2  Arabica  grounds for health admin         Guatemala

                                  farm_name lot_number       mill ico_number  \
0                                 metad plc        NaN  metad plc  2014/2015
1                                 metad plc        NaN  metad plc  2014/2015
2  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN

                             company       altitude        region  ...  color  \
0  metad agricultural developmet plc      1950-2200  guji-hambela  ...  Green
1  metad agricultural developmet plc      1950-2200  guji-hambela  ...  Green
2                                NaN  1600 - 1800 m           NaN  ...    NaN

   category_two_defects       expiration                  certification_body  \
0                     0  April 3rd, 2016  METAD Agricultural Development plc
1                     1  April 3rd, 2016  METAD Agricultural Development plc
2                     0   May 31st, 2011        Specialty Coffee Association

                      certification_address  \
0  309fcf77415a3661ae83e027f7e5f05dad786e44
1  309fcf77415a3661ae83e027f7e5f05dad786e44
2  36d0d00a3724338ba7937c52a378d085f2172daa

                      certification_contact unit_of_measurement  \
0  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
1  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
2  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m

  altitude_low_meters altitude_high_meters  altitude_mean_meters
0              1950.0               2200.0                2075.0
1              1950.0               2200.0                2075.0
2              1600.0               1800.0                1700.0

[3 rows x 43 columns]

DataFrame successfully updated with snake_case column names!

============================================================
EXAMPLES OF TRANSFORMATIONS:
✓ Country.of.Origin         → country_of_origin
✓ ICO.Number                → ico_number
✓ Total.Cup.Points          → total_cup_points
✓ Category.One.Defects      → category_one_defects
✓ Processing.Method         → processing_method

### Problem 4. Bag weight (1 point)
What's up with the bag weights? Make all necessary changes to the column values. Don't forget to document your methods and assumptions.

### Problem 5. Dates (1 point)
This should remind you of problem 4 but it's slightly nastier. Fix the harvest years, document the process.

While you're here, fix the expiration dates, and grading dates. Unlike the other column, these should be dates (`pd.to_datetime()` is your friend).

### Problem 6. Countries (1 point)
How many coffees are there with unknown countries of origin? What can you do about them?

### Problem 7. Owners (1 point)
There are two suspicious columns, named `Owner`, and `Owner.1` (they're likely called something different after you solved problem 3). Do something about them. Is there any link to `Producer`?

### Problem 8. Coffee color by country and continent (1 point)
Create a table which shows how many coffees of each color are there in every country. Leave the missing values as they are.

**Note:** If you ask me, countries should be in rows, I prefer long tables much better than wide ones.

Now do the same for continents. You know what continent each country is located in.

### Problem 9. Ratings (1 point)
The columns `Aroma`, `Flavor`, etc., up to `Moisture` represent subjective ratings. Explore them. Show the means and range; draw histograms and / or boxplots as needed. You can even try correlations if you want. What's up with all those ratings?

### Problem 10. High-level errors (1 point)
Check the countries against region names, altitudes, and companies. Are there any discrepancies (e.g. human errors, like a region not matching the country)? Take a look at the (cleaned) altitudes; there has been a lot of preprocessing done to them. Was it done correctly?

### * Problem 11. Clean and explore at will
The dataset claimed to be clean, but we were able to discover a lot of things to fix and do better.

Play around with the data as much as you wish, and if you find variables to tidy up and clean - by all means, do that!